<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="30px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="2 2 70%">Item 1</div>
  <div class="item item-3" fxFlex>Item 3</div>
</div> -->

<!-- <div fxLayout="row" fxLayoutAlign="center center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div> -->
<!-- <md-card fxFlex fxFlexAlign="start">

  <md-card-content>
    <div fxLayout fxLayout.xs="column wrap" fxLayoutGap="25px">
      <md-input-container fxFlex="calc(50% - 25px)">
        <input mdInput placeholder="Name">
      </md-input-container>
      <md-input-container fxFlex="calc(50% - 25px)">
        <input mdInput placeholder="Occupation">
      </md-input-container>
      <md-input-container fxFlex="calc(50% - 25px)">
        <input mdInput placeholder="Company">
      </md-input-container>
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-button>Anterior</button>
    <button md-button>Proximo</button>
  </md-card-actions>
</md-card> -->
<!-- <div fxlayout>
  <div  fxFlex.lt-md="1 1 52%" fxLayoutGap="20px">
    <div style="display: inline; margin-right: 20px;" fxFlex="40%">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    </div>

    <div style="display: inline; margin-right: 20px;" fxFlex="40%">
      <mat-form-field>
        <input matInput placeholder="Textarea">
      </mat-form-field>
    </div>

    <div style="display: inline; margin-right: 20px;" fxFlex="40%">
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div> -->
<div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  
  <mat-toolbar>
    <mat-toolbar-row>
      <a target="_blank" href="https://material.angular.io/">Angular Material</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="20%">
        <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
      </div>
      <div fxFlex="20%">
        <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
      </div>
      <div fxFlex="20%">
        <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
      </div>
      <div fxFlex="20%">
        <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
      </div>
    </div> 
